.content{
    position: absolute;
    width:calc(100% - 200px);
    background: #f5f5f5;
    min-height: 100vh;
    left:100px;
   
  }
  .cards{
    margin-top:10px;
    width: 100%;
    padding:35px 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  
  }
  .cards .card{
    background: linear-gradient(45deg,#47cebe,#ef4a82);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  
  }
  .number{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
  }
  .card-name{
    color: #444;
    font-weight: 600;
  }
  .icon-box i{
    font-size: 45px;
    color: #444;
  }